<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tour Details</title>
    <style>
        .tour-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        .booking-form {
            max-width: 300px;
            margin: 20px auto;
        }
        @media (min-width: 992px) {
            .booking-form {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    </style>
</head>

<body>
    <header th:insert="~{blocks/header::header}"></header>
    <main>
        <div class="container mt-4">
            <div class="row">
                    <!--Tour info-->
              
                    <h1 th:text="${tour.tourName}"></h1>
                    <div th:each="image : ${tourImages}">
                        <img class="tour-image" th:src="@{'~/'+${image.getImageUrl()}}" th:alt="${tour.tourName}">
                    </div>
                    <div class="col-lg-8">
                    <p><strong>Type:</strong> <span th:text="${tour.type}"></span></p>
                    <p><strong>Duration:</strong> <span
                            th:text="${#dates.format(tour.duration, 'dd.MM.yyyy')}"></span></p>
                    <p><strong>Max Number of People:</strong> <span th:text="${tour.maxNumberOfPeople}"></span></p>
                    <p><strong>Description:</strong></p>
                    <p th:text="${tour.description}"></p>
                    <p><strong>Price:</strong> <span th:text="${tour.price}"></span></p>
                </div>

                <!-- Booking Form -->
                <div class="col-lg-4" sec:authorize="isAuthenticated()">
                    <div class="card booking-form">
                        <div class="card-body">
                            <h5 class="card-title">Book this Tour</h5>
                            <form th:action="@{|~/tour/${tour.getTourName()}|}" method="post" enctype="multipart/form-data">
                    
                                <div th:if="${hasCreditCard}">
                                    <div class="form-group">
                                        <label for="creditCard">Credit card</label>
                                        <div class="form-control" id="cardNumber" th:text="${creditCard.getCardNumber()}"></div>
                                <!-- <div class="form-group">
                                    <label for="numberOfPeople">Number of People</label>
                                    <input type="number" class="form-control" id="NumberOfPeople" name="NumberOfPeople" required  min="0" placeholder="Enter number of people">
                                </div> -->
                                
                                <div class="form-group">
                                    <label for="Price">Price:</label> <span th:text="${tour.price}"></span>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block">Book Now</button>
                                    </div>
                                </div>

                                <div th:unless="${hasCreditCard}">
                                    <div class="form-group">
                                        <label for="creditCard">Add credit card</label>
                                       <a th:href="@{|~/profile/${#authentication.name}/credit-cards|}">Credit card</a> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                

        <div class="col-lg-4" sec:authorize="!isAuthenticated()">
            <div class="card booking-form">
                <div class="card-body">
                    <h5 class="card-title">Book this Tour</h5>
                    <form action="/log-in">
                <button type="submit" class="btn btn-primary btn-block"  >Log in</button>
            </form>
        </div>
    </div>
</div>
        
    </main>

    <footer th:insert="~{blocks/footer::footer}"></footer>


</body>

</html>
